@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.calculator-display {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-display > button {
  cursor: pointer;
  outline: none;
  border: 1px solid white;
  font-size: 2rem;
  background-color: rgba(127, 150, 150, 0.5);
}

.calculator-display > button:hover {
  background-color: rgba(127, 150, 150, 0.7);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 /-1;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .prev-operand {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
}

.output .curr-operand {
  color: white;
  font-size: 2.5rem;
}
